


<div class="row">
  <div class="col-3">
      <div class="card" style="width: 20rem;">
           <img class="card-img-top" [src]="Product.imgUrl" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{Product.name}}</h5>
            <p class="card-text">{{Product.description}}</p>
              <a routerLink="/Product-details/{{Product.id}}" class="btn btn-primary">View Details</a>
              <a routerLink="/cart" class="btn btn-success ml-4" style="color:white" *ngIf="!isLoggedIn" >Add To Cart</a>
              <!-- <a routerLink="/cart" class="btn btn-success ml-4" style="color:white" *ngIf="!isLoggedIn">Remove</a> -->
         </div>
           
        </div>
        </div>
        </div> 
