<section>
  <h2>LOGIN FORM</h2>
<form 
  (ngSubmit)="onLoginSubmit(myForm)"
   name="loginForm"
   #myForm="ngForm"
   >
  <div class="form-group col-4" >
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" required ngModel  #myEmail="ngModel" placeholder="Enter email">
    <div *ngIf="myEmail.dirty && myEmail.errors?.required">
      This is required
    </div>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group col-4">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" required ngModel placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>

</form>
</section>
