<div class="col-3 mx-auto">
<div class="card text-white bg-dark text-center">
    <h2>{{ProductDetail.name}}</h2>
<img src="{{ProductDetail.imgUrl}}" style="width: 100%">
<p>{{ProductDetail.Company}}</p>
<p>{{ProductDetail.description}}</p>
<p>{{ProductDetail.price}}</p>
<a routerLink="/products" class="btn btn-success" style="color:white" *ngIf="!isLoggedIn" >Remove</a>
<!-- <p>Description:{{ProductDetail.desc}}</p> -->
</div>
</div>