<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<nav class="nav navbar" style="background-color:black;">

<div class="navbar header">
  <a href="#" class="navbar-brand">
    <img src="../assets/Images/oaxis.png" style="height:70px;text-shadow:white">
  </a>
</div>
<form class="form-inline">
<input class="form-control" type="search" placeholder="Search" aria-label="Search">
<button type="button" class="btn btn-primary">Search</button>
</form>
<a class="btn btn-success"  routerLink="/products"><i class="fas fa-home" style="height:20px;"></i>HOME</a>
<a class="btn btn-warning " routerLink="/cart"><i class="fas fa-shopping-cart" style="height:20px;"></i>CART</a>
<a class="btn btn-secondary" *ngIf="!isLoggedIn" routerLink="/login"><i class="fas fa-user" style="height:20px;"></i>LOGIN</a>
<button class="btn btn-secondary" (click)="onLogout()" *ngIf="isLoggedIn" routerLink="/login"><i class="fas fa-user" style="height:20px;"></i>LOGOUT</button>
</nav>

<!-- <nav class="navbar navbar-expand">
 <div class="col-3">
 LAPTOPS
      </div>
      <div class="col-3">
      MOBILES  
      </div>
      <div class="col-3"> 
      ELECTRONICS
      </div>
    <div class="col-3">
      GAMING
    </div>
    
 
</nav> -->

<div class="container-fluid">
    <section>
        <div class="row">
        <div class="col-12">
          <router-outlet></router-outlet>
            <!-- <app-product-details *ngIf ="activeView ==='ProductDetails'"></app-product-details>
            <app-product-list *ngIf ="activeView ==='ProductList'"></app-product-list>
            <app-cart-list *ngIf ="activeView ==='Cart'"></app-cart-list> -->
          </div>
          </div>
        </section>
</div>
